.note {
  background-color: #fef68a;
  padding: 1rem;
  border-radius: 6px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-new {
  background-color: #67d7cc;
  padding: 1rem;
  border-radius: 3px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

textarea {
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  opacity: 0.7;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}
